@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Primary Text */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* Gradient Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* Neutral Text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,var(--Soft-violet), var(--Soft-blue) );
    font-family: 'Kumbh Sans';
}
@media only screen and (max-width: 1280px) {
    .card {
        margin: 20vh 0;
        min-height: 450px;
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        max-width: 375px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 0px 22px 42px -6px rgba(68,68,158,1);
        -moz-box-shadow: 0px 22px 42px -6px rgba(68,68,158,1);
        box-shadow: 0px 22px 42px -6px rgba(68,68,158,1);
    }
    .principal-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card h1 {
        font-size: 26px;
        font-weight: 900;
        margin: 1rem 0;
        color: var(--Very-dark-desaturated-blue);
        align-self: center;
    }
    .imagem-desktop-box, .imagem-desktop-principal, .imagem-desktop-fundo {
        display: none;
    }
    .imagem-principal-mobile {
        position: absolute;
        top: 0;
        width: 80%;
        transform: translateY(-58%);
        z-index: 2;
    }
    .questionario {
        display: flex;
        flex-direction: column;
        padding: 0rem 1.5rem;
        margin-bottom: 2rem;
        max-width: 324px;
    }
    .pergunta-resposta-seta {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;
        border-bottom: 1px solid var(--Light-grayish-blue);
        padding: 1rem 0;
        cursor: pointer;
    }
    .pergunta-resposta {
        text-align: left;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: var(--Very-dark-grayish-blue);
    }
    .pergunta {
    
    }
    .resposta {
        display: none;
        color: var(--Very-dark-grayish-blue);
        font-size: 12px;
    }
    .seta {
        width: 8px;
        height: 8px;
    }
    .alinhar-seta {
        width: 8px;
        height: 8px;
        align-self: flex-start;
        transform: rotate(180deg);
    }   
}
@media only screen and (min-width: 1281px) {
    .card {
        border-radius: 2rem;
        width: 1080px;
        min-height: 500px;
        background-color: white;
        display: flex;
        -webkit-box-shadow: 0px 22px 42px -6px rgba(68,68,158,1);
        -moz-box-shadow: 0px 22px 42px -6px rgba(68,68,158,1);
        box-shadow: 0px 22px 42px -6px rgba(68,68,158,1);
    }
    .principal-card {
        width: 50%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .imagem-principal-mobile, .imagem-fundo-mobile {
        display: none;
    }
    .imagem-desktop-box {
        position: absolute;
        top: 42%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .imagem-desktop-principal {
        transform: translateX(-16%);
        position: absolute;
        z-index: 0;
        padding-top: 4rem;
    }
    .imagem-desktop-fundo {
        top: -70%;
        left: -126%;
        width: 200%;
        position: absolute;
        z-index: -1;
    }
    .questionario {
        width: 50%;
        padding-top: 4rem;
        padding: 4rem 4rem 0 0;
    }
    .questionario h1 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .resposta {
        display: none;
    }
    .pergunta-resposta-seta {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 1rem 0;
        cursor: pointer;
    }
    .pergunta-resposta {
        display: flex;
        flex-direction: column;
    }
    .seta {
        width: 12px;
        height: 12px;
    }
    .alinhar-seta {
        width: 12px;
        height: 12px;
        align-self: flex-start;
        transform: rotate(180deg);
    }  
}
.attribution { color: white; font-size: 11px; text-align: center; }
    .attribution a { color: hsl(162, 100%, 79%); }